.movies {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.movie {
  cursor: pointer;
  position: relative;
  width: 25%;
  background-repeat: no-repeat;
  background-position: -150px center;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}
.movie:hover {
  width: 33%;
  background-position: -75px center;
}
.movie::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: -150px center;
  transition: all 0.35s ease-in-out;
  z-index: 2;
}
.movie:hover::before {
  opacity: 0;
  background-position: -75px center;
}
.movie__content {
  z-index: 5;
}

.movies.active .movie {
  width: 150px;
}
.movies.active .movie.open {
  width: calc(100% - 450px);
  background-position: center;
}
.movies.active .movie,
.movies.active .movie::before {
  transition: all 0.5s ease-in-out, opacity 0.35s ease-in-out 0.4s;
  background-position: -300px center;
}
.movies.active .movie.open::before {
  opacity: 0;
  visibility: hidden;
}
.movies.active .movie:not(.open):hover {
  width: 250px;
}
.movies.active .movie:hover::before {
  opacity: 0;
  transition: all 0.35s ease-in-out;
}